{% extends "base.html" %}
{% load static %}
{% block title %} 
{% endblock %}
{% block extra_css %} {% endblock %}
{% block content %}

<div class="contentbox">
    <div class="container">
        <h2>Trending Models:</h2>
        <div class="content-grid">
            {% for model in models %}
            <div class="card">
                <div class="card-body">
                    <div class="info">
                        <a href="{% url 'car-template' model_slug=model.slug %}" class="card-title">{{ model.carmanufacturer }} {{model.name }}</a>
                        <p class="manu">{{ model.manufacturer}} | {{ model.scale }}</p>
                        <p class="yr">Vehicle Year: {{ model.modelyear }}</p>
                        <p class="tool">Tooling Year: {{ model.yearoftool }}</p>
                        <p class="pcviews"><i class="fa-solid fa-eye"></i> <strong> {{ model.totalviews }}</strong></p>
                    </div>

                    <div class="image">
                        {% if model.coverimage %}
                            <img src="{{ model.coverimage.url }}" alt="{{ model.name }}">
                        {% else %}
                            <img src="{% static 'user_int/images/logo.png' %}" alt="blank-image">
                        {% endif %}
                    </div>

                    <p class="mobileviews"><i class="fa-solid fa-eye"></i> <strong> {{ model.totalviews }}</strong></p>
                </div>
            </div>
            {% empty %}
            <div class="card">
                <div class="card-body">
                    <div class="info">
                        <a href="#" class="card-title">Couldn't load</a>
                        <p>We apologise</p>
                        <p>Could not load models</p>
                        <p>Views today: 0</p>
                    </div>

                    <div class="image">
                        <img src="{% static 'user_int/images/logo.png' %}" alt="blank-image">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'databasehome' %}" class="open">Open Modelling Database</a>
    </div>

    <div class="container">
        <h2>Trending Posts:</h2>
        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <div class="info">
                    <a href="{% url 'post-template' post_slug=post.slug %}" class="card-title">{{ post.posttitle }}</a>
                    <h6>{{ post.poster }} &nbsp | &nbsp {{ post.created_at|date:"d M Y" }}</h6>
                    <p class="posttxt">{{ post.posttext}}</p>
                    <p><i class="fa-solid fa-eye"></i> <strong> {{ post.views }}</strong> &nbsp | &nbsp <i class="fa-solid fa-thumbs-up"></i> <strong> {{ post.likes.count }}</p>
                </div>

                {% if post.images.exists %}
                <div class="image">
                    <img class="imgmodel" src="{{ post.images.first.image.url }}">
                </div>
                {% endif %}

            </div>
        </div>
        {% empty %}
        <div class="card">
            <div class="card-body">
                <div class="info">
                    <a href="{% url 'forum' %}" class="card-title">Couldn't load</a>
                    <p>Could not load user</p>
                    <p>Could not load post</p>
                    <p>Views today: 0</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="{% url 'forum' %}" class="open">Open Forum</a>
    </div>
</div>

{% endblock %}