{% load static %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Login </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'user_int/images/logo.png' %}" class="nav-logo" alt="Logo">
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="login-wrapper">
        <div class="login-background">
            <form class="login-form" method="POST" action="{% url 'register' %}">
              {% csrf_token %}
              <img src="{% static 'user_int/images/logo.png' %}" class="login-logo" alt="Logo" style="grid-column: span 2;">
              <label for="username">Username: </label>
              <input type="text" id="username" name="username" placeholder="Enter username" required>
              <label for="email">Email: </label>
              <input type="email" id="email" name="email" placeholder="Enter email" required>
              <label for="password">Password: </label>
              <input type="password" id="password" name="password1" placeholder="Enter password" required>
              <label for="confirm-password">Confirm password: </label>
              <input type="password" id="confirm-password" name="password2" placeholder="Re-enter password" required>
              <button type="submit" style="grid-column: span 2;">Register</button>
              {% if errors %}
                <div class="alert-danger" style="grid-column: span 2;">
                  {% for field, error_list in errors.items %}
                    {% for error in error_list %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  {% endfor %}
                </div>
              {% endif %}
            </form>
        </div>
    </div>

  </body>
</html>