{% extends "base.html" %}
{% load static %}
{% block title %} {{ help.helptitle }} 
{% endblock %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'forum/style.css' %}"> 
<link rel="stylesheet" href="{% static 'helpcenter/style.css' %}"> 
{% endblock %}
{% block content %}

<div class="container">
    <div class="postspacing">
        <h1>{{ help.helptitle }}</h1>
        {% if request.user == help.poster %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete" class="deletebutton"><i class="fa-solid fa-trash"></i></button>
            </form>
        {% endif %}
    </div>

    <h6> {{help.poster }}  &nbsp | &nbsp {{ help.created_at|date:"d/m/y h:i a" }} </h6>

    <div class="tags">
        {% for tag in help.tags.all %}
            <a href="#" class="tag-button"> {{ tag }} </a>
        {% endfor %}
    </div>

    <hr>

    <p> {{ help.helptext }}</p>

    <div class="image-gallery">
        {% if help.image %}
            <img class="imgpost userhelpimage" src="{{ help.image.url }}">
        {% endif %}
    </div>

    <hr>

    <div class="postspacing">
        <p><i class="fa-solid fa-eye"></i> <strong> {{ help.views }}</strong></p>
        <p><i class="fa-solid fa-comment"></i> <strong>{{ help.replies.count }}</strong></p>
        <button hx-post="{% url 'like_help' objid=help.id %}" hx-target="#count-{{ help.id }}" hx-swap="innerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-on::after-request="this.classList.toggle('liked')" class="like-button {% if is_liked %}liked{% endif %}">                          
            <i class="fa-solid fa-thumbs-up"></i> 
            <span id="count-{{ help.id }}"> {{ help.likes.count }}</span>
        </button>
    </div>
</div>

<div class="container">
    <h2>Replies:</h2>
    <div class="content-grid">
        {% for reply in replies %}
            <div class="card">
                <div class="card-body">
                    <div class="info">
                    <div class="postspacing">
                        <h6> {{reply.poster }} &nbsp | &nbsp {{ reply.created_at|date:"d/m/y h:i a" }}</h6>
                        {% if request.user == reply.poster %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="reply_id" value="{{ reply.id }}">
                            <button type="submit" name="deletereply" class="deletebutton"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    {% endif %}
                    </div>

                    <p>{{ reply.reply }}</p>

                    <div class="replylikes">
                        <button hx-post="{% url 'like_reply' objid=reply.id %}" hx-target="#reply-count-{{ reply.id }}" hx-swap="innerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-on::after-request="this.classList.toggle('liked')" class="like-button {% if reply.id in liked_helpreplies %}liked{% endif %}">                          
                            <i class="fa-solid fa-thumbs-up"></i> 
                            <span id="reply-count-{{ reply.id }}"> {{ reply.likes.count }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr>

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <textarea name="message" placeholder="Reply..."></textarea>
            <button class="submit" type="submit" name="submit_reply">Submit</button>
        </form>
    {% endif %}
</div>

{% endblock %}